.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 80vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url("https://rsms.me/inter/inter.css");

html,
body,
#root,
.bg,
canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Inter var", sans-serif;
  scroll-behavior: smooth;
}

#canvas {
  transform: translateY(-200%);
}

.bg {
  position: absolute;
  background: radial-gradient(
    at 50% 100%,
    #873740 0%,
    #272730 40%,
    #171720 80%,
    #070710 100%
  );
}

h1 {
  position: absolute;
  top: 120px;
  left: 60px;
  font-weight: 900;
  font-size: 5em;
  margin: 0;
  color: peru;
  line-height: 0.6em;
  letter-spacing: -2px;
  text-align: left;
}

h1 > span {
  white-space: pre;
}

.layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(63, 12, 88, 0.25) 0%,
    transparent 100%
  );
  pointer-events: none;
}

span.header {
  font-weight: 700;
  position: absolute;
  display: inline-block;
  width: 500px;
  transform: translate3d(0, -50%, 0);
  font-size: 9em;
  line-height: 0.9em;
  pointer-events: none;
  top: 350px;
  left: 50px;
}

span.header-left {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  position: absolute;
  display: inline-block;
  transform: translate3d(0, -50%, 0);
  line-height: 1em;
  top: 200px;
  left: 60px;
  font-size: 4em;
  width: 200px;
}

.cv-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
}
.grid-left {
}
.rows-cont {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
}

.row1 {
  grid-row: 1 / span 1;
}
.row2 {
  grid-row: 2 / span 3;
}
.row3 {
  grid-row: 5 / span 1;
}
.row4 {
  grid-row: 6 / span 1;
}
.row5 {
  grid-row: 7 / span 1;
}